*{
  box-sizing: border-box;
}

li{
  list-style: none;
}

a{
  color: rgb(175, 107, 23);
  font-weight: 700; 
  text-decoration: none;
}

html{
  height: 100vh;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  width: 100%;
}

.header{
  align-items: center;
  display:flex;
  justify-content: flex-end;
  height: 10%;
  width: 100%;
}

.header ul li{
  display: inline-block;
  padding-left: 10px;
}

.header ul li:first-child{
  border-bottom: 1px solid rgb(202, 154, 9);
  padding-left: 0;
}

.header ul li a:hover{
  color: red;
}

.main{
  background: url(../images/background.jpg) no-repeat center center/cover;
  flex:1;
}

.main__content{
  color:rgb(239, 226, 230);
  padding: 30px;
}

.main__content h1{
  color: black;
}

.main__content p{
  font-size: 20px;
}

.main__content button{
  background-color: darkmagenta;
  border-radius: 12px;
  cursor: pointer;
  height: 50px;
  margin-top:20px;
  width: 200px;
}

.footer{
  background-color: #d2caca;
  line-height: 70px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width:400px) {
  .header ul li{
    font-size: 12px;
  }

  .main__content h1{
    font-size: 30px;
  }
}