.subheading__subsection {
  margin-bottom: 48px;
}

.info h3:active {
  color: #e86a92;
}

@media screen and (min-width: 768px) {
  .info-wrapper {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
  }

  .info h3 {
    text-align: center;
  }

  .name:hover {
    background-color: #e86a92;
    border-radius: 5px;
  }
}
