:root {
    --primary-color: #FFFF82;
    --secondary-color: #F5F7DC;
    --tertiary-color: #B5D99C;
    --text-color: #0F0326;
    --background-color: #E65F5C;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

.header {
    background-color: var(--primary-color);
    padding: 48px 0;
}

.header__title {
    color: var(--text-color);
    font-size: calc(2rem + 1vw);
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.header__subtitle {
    color: var(--background-color);
    font: calc(1rem + 1vw);
    text-align: center;
}

.menu {
    position: relative;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    background-color: var(--tertiary-color);
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.menu__item {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: bold;
    display: column;
    padding: 10px;
    text-decoration: none;
    margin: auto;
}

.menu__item:hover {
    background-color: #e5dada;  
    color: #69140e;
}

.main {
    font-size: 0;
    padding: 16px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 16px; 
}

.section {
    background-color: var(--secondary-color);
    border: 10px solid #02040f;
    border-radius: 20px;
    font-size: 1rem;
    margin: 16px; 
    padding: 16px;
}

.footer {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    margin: auto;
    padding: 12px;
    text-align: center;
}

.span {
    color: var(--background-color);
}

@media (max-width: 768px) {
    .header__title {
        font-size: calc(1.5rem + 2vw);
    }

    .header__subtitle {
        font-size: calc(0.8rem + 1vw);
    }

    .menu {
        width: 90%;
        left: 5%;
        bottom: 10px;
    }

    .section {
        margin: 8px; 
    }
}
