* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

.header {
  text-align: center;
  padding: 32px 16px;
}

.menu {
 display: flex;
 flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
