@media screen and (min-width: 768px) {
  img {
    display: block;
    margin: auto;
    padding: 4px 0;
    width: 50%;
  }

  .main-ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .subtitle {
    margin-top: 32px;
  }
}
