@font-face {
  font-family: BebasNeue;
  src: url("../fonts/bebas_neue/BebasNeue-Regular.woff2"),
    url("BebasNeue-Regular.woff") format("woff");
}

@font-face {
  font-family: "Old Standard Bold";
  src: url("../fonts/old_standard/OldStandardTT-Bold.woff2"),
    url("OldStandardTT-Bold.woff") format("woff");
}

@font-face {
  font-family: "Old Standard Regular";
  src: url("../fonts/old_standard/OldStandardTT-Regular.woff2"),
    url("OldStandardTT-Regular.woff") format("woff");
}